@import '../basic-css/basic.css';
@import '../basic-css/helper.css';

font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/popping/Poppins-Regular.ttf);
}

/* header */
.main-header {
    background-color: #343942;
    width: 100%;
    height: 120px;
    
}

.stuff>img {
    width: 200px;
    border-radius: 100px;
    font-weight: 500;
    margin-top: 10px;
}
.header-warper {
    background-color: #4f4e4e;
    border-bottom: 1px black solid;
}
.logo {
    height: 120px;
}
/* footer */
footer {
    position: fixed;
    bottom:0px;
}
/* email */
.email-read {
    font-weight: bold
}
.email-unread {
    font-weight: normal
}
