* {
    box-sizing: border-box;
}

html {
    /* font-family: Poppins-Regular, sans-serif; */
    color: #35495e;
    line-height: 1.25;
    background-color: #22252c;
    scroll-behavior: smooth;
}

html, body, div, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a {
    text-decoration: none;
}

h2 {
    /* margin: 0 0 .833em; */
    color: #4f4e4e;
    font-weight: 900;
    /* font-size: 28px; */
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
}